.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 140px;
    width: 50%;
    min-height: 100%;
    margin: 36px 36px 36px 0;
}

.chart {
    height: 344px;
    /* margin-bottom: 36px; */
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(119, 102, 85, 0.25);
    border-radius: 8px;
    overflow: auto;
} 

.chart-graph {
    height: 220px;
    background-image: url('../img/deals-graphic.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.diagramm {
    display: flex;
    justify-content: space-between;
}

.chart-round {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 40px;
    text-align: center;
    font-size: 60px;
    color: #2ed47a;
    border: 6px solid #2ed47a;
    border-radius: 50%;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.legend-item {
    position: relative;
    margin-bottom: 20px;
    font-size: 10px;
    color: #707683;
}

.legend-item.closed-deals {
    margin-left: 40px;
    height: 30px;
}

.legend-item::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 5px;
    height: 5px;
    border: 2px solid;
    border-radius: 50%;
}

.legend-item.closed-deals::before {
    border-color: #109cf1;
}

.legend-item.tasks-activ::before {
    border-color: #ffb946;
}

.legend-item.tasks-complete::before {
    border-color: #2ed47a;
}

.legend-item.tasks-ended::before {
    border-color: #f7685b;
}