.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 140px;
    width: 50%;
    min-height: 100%;
    margin: 36px 36px 36px 0;
}

.chart {
    height: 344px;
    /* margin-bottom: 36px; */
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(119, 102, 85, 0.25);
    border-radius: 8px;
    overflow: auto;
} 

.chart-graph {
    height: 300px;
    background-image: url('../img/deals-graphic.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.diagramm {
    display: flex;
    justify-content: space-between;
}

.chart-round {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 40px;
    text-align: center;
    font-size: 60px;
    color: #2ed47a;
    border: 6px solid #2ed47a;
    border-radius: 50%;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.closed-deals .round,
.legend .round {
    width: 5px;
    height: 5px;
}

.legend-activ,
.legend-complete,
.legend-ended,
.closed-deals {
    margin-right: 40px;
    height: 30px;
    font-size: 10px;
    color: #707683;
}

.closed-deals {
    margin-left: 20px;
    height: 40px;
}

.legend-activ .round {
    border-color: #ffb946;
}

.legend-complete .round {
    border-color: #2ed47a;
}

.legend-ended .round {
    border-color: #f7685b;
}

.closed-deals .round {
    border-color: #109cf1;
}