.header {
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 40px;
}

.search {
    border: 1px solid transparent;
    margin-left: 10px;
    padding: 3px  30px;
    box-shadow: 0 0 4px 0 rgba(119, 102, 85, 0.25);
    border-radius: 3px;
    color: #434f61;
}

.search::placeholder {
    color: #90a0b7;
    font-size: 12px;
}

.search {
    background-image: url('../img/search.svg');   
    background-repeat: no-repeat;
    background-position: 4px;  
    outline: none; 
}

.header-search:hover .search {
    cursor: pointer;
}

.reminder {
    position: relative;
    width: 20px;
    height: 20px;
    bacKground-image: url('../img/vector.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.red-point {
    display: block;
    position: absolute;
    top: -1px;
    left: 10px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}  

.header-search .icon {
    bacKground-image: url('../img/search.svg');
}

.reminder:hover {
    cursor: pointer;
}