h1 {
    outline: 3px solid orange;
}

.instagram {
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    background-image: linear-gradient(to right bottom, rgb(106, 12, 150), rgb(255, 0, 157), rgb(255, 166, 0));
}

.circle {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 12px solid white;
}

.square {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 136px;
    height: 136px;
    border-radius: 25%;
    border: 12px solid white;
}

.round {
    position: absolute;
    top: 15px;
    left: 105px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}