* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: violet;
}

/*

.page-menu,
.page-content,
.page-footer {
    /* padding-left: auto;
    padding-right: auto; */
}

.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    
}

.page-menu {
    position: fixed;
    /* left: 0;
    top: 0; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 60px;
    min-width: 640px;
    max-width: 960px;
    background-color: grey;
    margin: 0 auto;
}

.page-content {
    flex: 1 0 auto;
    display: flex;
    /* padding: 0 100px; */
    /* justify-content: space-between; */
    
    margin: 0 auto;
    padding-top: 60px;
}

.content-side {
    min-width: 320px;
    max-width: 320px;
    background-color: green;
}

.content-text {
    width: 100%; 
    min-width: 320px;   
    max-width: 640px;
    background-color: pink;
}

.page-footer {
    flex: 0 0 auto;
    min-width: 640px;
    max-width: 960px;
    background-color: grey;
    margin: 0 auto;
}

.menu-item {
    width: 150px;
    height: 50px;
    
}