.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    min-width: 256px;
    max-width: 256px;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(53, 49, 45, 0.25);
}

.saas-kit {
    height: 60px;
    padding: 16px 20px;
    color: #109cf1;
    box-sizing: border-box;
    border-bottom: 1px solid #ebeff2;
}

.user {
    display: flex;
    height: 60px;
    padding: 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-image: url('../img/profile-photo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.user-data {
    display: flex;
    flex-direction: column; 
    padding-top: 5px;
}

.user-name {
    height: 20px;
    padding-top: 10px;
    color: #192a3e;
    font-size: 15px;
}

.user-email {
    height: 20px;
    color: #90a0b7;
    font-size: 10px;
}

.menu,
.settings,
.toggle {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

.menu {
    border-bottom: 1px solid #ebeff2;
}

.settings {
    justify-content: flex-start;
    height: 100%;
}

.item-menu {
    position: relative;
    margin-bottom: 20px;
    margin-left: 35px;
}

.item-menu::before {
    content: "";
    position: absolute;
    left: -35px;
    width: 20px;
    height: 20px;
}

.item-menu.item-dashboard::before {
    background-image: url('../img/dashboard-active.svg');
}

.item-menu.item-tasks::before {
    content: url('../img/tasks.svg');
}

.item-menu.item-email::before {
    content: url('../img/email.svg');
}

.item-menu.item-contacts::before {
    content: url('../img/contacts.svg');
}

.item-menu.item-chat::before {
    content: url('../img/chat.svg');
}

.item-menu.item-deals::before {
    content: url('../img/deals.svg');
}

.item-menu.item-settings::before {
    content: url('../img/settings.svg');
}

.item-menu.item-sidebar::before {
    content: url('../img/subtract.svg');
}

.item-sidebar {
    color: #90a0b7;
    font-size: 12px;
}

.item-dashboard {
    color: #109cf1;
}